.input__container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.input__container__label{
    font-size: 18px;
    height: 50%;
}

.input__container__input{
    border: 1px solid black;
    height: 50%;
    outline: none;
    padding: 0px;
    text-indent: 6px;
    width: 90%;
}