.cardmovie {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: space-between;
    margin: 10px 0px;
    width: 100%;
}

.image {
    height: 100%;
    width: 100px;
}

.cardmovie__container {
    height: 100%;
    width: 62%;
}

.cardmovie__container__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding-left: 10px;
}

.title {
    font-size: 14px;
    font-weight: 600;
}

.cardmovie__button {
    align-items: center;
    display: flex;
    height: 100%;
    width: 24%;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 20px;
    }
}