body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.movie-container {
  display: flex;
  flex-direction: row;
  margin-top: 10;
  align-items: center;
  
}

.movie data {
  align-items: stretch;
}

.movie img {
  vertical-align: text-top;
  width:  70px;
}


.wl-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.wl {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: flex-end;
  
}

.bt {
  
  display: flex;
  text-align: center;
  max-height: 30px;
  
}






